<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product purchase</title>
</head>
<body>

    <div class="main">
        <div class="bill">
            <p>Name: {{userName}}</p> <br>
            <p>Product: {{productName}}</p> <br>
            <p>Price: {{price}}</p> <br>
            <p>Discount: {{discount}}</p> <br>
            <p>Final Price: {{finalPrice}}</p> <br>
        </div>
    </div>
    
</body>
</html>